.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vh;
    max-height: 40vh;
    &__name{
        font-weight: bold;
    }
    &__description{
        width: 80%;
        height: 140px;
    }
    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        div p{
            color: #457B9D;
        }
    }

    &__rating{
        position: relative;
    }

    &__rating::after{
        position: absolute;
        content: '';
        top: -10px;
        left: 140%;
        background: no-repeat url("../../img/like.svg");
        background-size: 30px;
        width: 30px;
        height: 30px;
    }

    button.preview__btn{
        background-color: #457B9D;
    }

    &__error{
        font-size: 15px;
        color: red;
    }
}