.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__pointsList{
        width: 80%;
        list-style-type: none;
    }
}

button.form__btn{
    background-color: #457B9D;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 70px;
}

.form > div{
    width: 80%;
    margin-top: 20px;
}

.error{
    color: red;
}