.top-routes {
  &__wrapper {
    margin-bottom: 82px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 668px) {
      grid-template-columns: 1fr;
    }
  }
}
