.map-marker {
  width: 30px;
  height: 30px;
  background-color: #a63946;
  border-radius: 50%;
  text-align: center;
  color: #f4f7f8;
  font-size: 20px;
}

.popup {
  &__wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
