div.form{
    border-top: 1px solid rgb(118, 118, 118);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_img {
    text-align: center;
}

// button.saveBtn{
//     width: 50%;
//     margin-top: 20px;
// }


.form > div {
    width: 100%;
    margin-top: 40px;
}


// .user_data {
//     background: red;
//     margin: 20px;
// }